.DS_Store*
._*
.Trashes
.private/
.*.local
.Rhistory
.Rapp.history
.Rproj.user
.RData
.Ruserdata
.snakemake
*_cache/
*_files/
**/*.fa
**/*.fa.*
**/*.fasta
**/*.fasta.*
**/*.fq
**/*.fq.gz
**/*.fastq
**/*.fastq.gz
**/*.bam
**/*.bam.bai
**/*.vcf
**/*.vcf.gz
**/*.vcf.gz.tbi
**/*.bcf
**/*.bcf.csi
